{% if page.series %}
<div class="series-navigation">
  <h3>Posts in "{{ page.series }}" series:</h3>
  
  {% assign series_posts = site.posts | where: "series", page.series | sort: "date" %}
  
  {% if series_posts.size > 0 %}
    <ul class="series-post-list">
      {% for post in series_posts %}
      <li {% if post.url == page.url %}class="current-post"{% endif %}>
        <a class="series-post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No other posts found in this series.</p>
  {% endif %}
</div>
{% endif %}
