---
layout: default
---

<div class="home">
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
        {% if post.series %}
          <a href="{{ '/' | append: post.series | slugify | relative_url }}" class="series-tag">{{ post.series }}</a>
        {% endif %}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
