---
layout: default
---
<article class="post h-entry">
  <header class="post-header">
    <h1 class="post-title p-name">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p>
  </header>

  <div class="post-content e-content">
    {{ content }}
  </div>
  
  {% if page.series %}
    <div class="series-navigation">
      <h3>more posts in {{ page.series }} series</h3>
      
      {% assign series_posts = site.posts | where: "series", page.series | sort: "date" %}
      
      {% if series_posts.size > 0 %}
        <div class="series-post-links">
          {% for post in series_posts %}
            <div class="series-post-item">
              <a class="series-post-link {% if post.url == page.url %}current-post{% endif %}" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No other posts found in this series.</p>
      {% endif %}
    </div>
  {% endif %}
</article>
